<!DOCTYPE html>
<html>
  <head>
    <title>Furima40223</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <%= yield %>

    <!-- Your script using jQuery -->
    <script>
      var $j = jQuery.noConflict(); // Use jQuery in noConflict mode
      $j(document).ready(function() {
          // Add your jQuery code here
          $j('.next-item-img').click(function() {
              // Your event handling code
          });
      });
    </script>
  </body>
</html>
